flows.json
[{"id":"84e5301f.a191c","type":"tab","label":"First test flow","disabled":false,"info":""},{"id":"c549ebfd.57bac8","type":"tab","label":"Testing Google Calendar flow","disabled":false,"info":""},{"id":"c31547b5.a71f78","type":"tab","label":"Flow for weather","disabled":false,"info":""},{"id":"2dc3c429.42053c","type":"google-credentials","displayName":""},{"id":"91b66cb.fa69a9","type":"mqtt-broker","name":"albinomqtt","broker":"localhost","port":"1883","clientid":"2","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"42e8019f.a8d44","type":"inject","z":"84e5301f.a191c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":880,"y":80,"wires":[["5021555c.4e3edc"]]},{"id":"6ee43a3e.3f8e44","type":"debug","z":"84e5301f.a191c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1290,"y":80,"wires":[]},{"id":"5021555c.4e3edc","type":"function","z":"84e5301f.a191c","name":"","func":"// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":80,"wires":[["6ee43a3e.3f8e44"]]},{"id":"bbb1fe06.90d9c","type":"google calendar","z":"c549ebfd.57bac8","google":"2dc3c429.42053c","name":"","calendar":"hthehugger@gmail.com","ongoing":true,"x":370,"y":260,"wires":[["14a4f8d8.7a8937","7a4d85b9.0ae8ec","615bf181.e457"]]},{"id":"c731116d.f4cbf","type":"inject","z":"c549ebfd.57bac8","name":"Manual Cal In","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"msg","x":170,"y":300,"wires":[["bbb1fe06.90d9c"]]},{"id":"d3cc66eb.ba47e8","type":"mqtt out","z":"c549ebfd.57bac8","name":"","topic":"gyarb\\title","qos":"2","retain":"true","broker":"91b66cb.fa69a9","x":840,"y":140,"wires":[]},{"id":"a8b11777.d5b0c8","type":"mqtt in","z":"c549ebfd.57bac8","name":"","topic":"gyarb\\startbutton","qos":"2","datatype":"auto","broker":"91b66cb.fa69a9","x":160,"y":220,"wires":[["bbb1fe06.90d9c"]]},{"id":"ca287e91.0fcf5","type":"debug","z":"c549ebfd.57bac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":100,"wires":[]},{"id":"14a4f8d8.7a8937","type":"change","z":"c549ebfd.57bac8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.title","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":140,"wires":[["ca287e91.0fcf5","d3cc66eb.ba47e8"]]},{"id":"66ce14bf.dd70dc","type":"debug","z":"c549ebfd.57bac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":220,"wires":[]},{"id":"7a4d85b9.0ae8ec","type":"change","z":"c549ebfd.57bac8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.end","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":260,"wires":[["37cc731b.397dbc"]]},{"id":"dbb4fd8e.9310a","type":"debug","z":"c549ebfd.57bac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":320,"wires":[]},{"id":"615bf181.e457","type":"change","z":"c549ebfd.57bac8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.start","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":360,"wires":[["8330e5fe.f4fd38"]]},{"id":"5a86a5d6.aed99c","type":"mqtt out","z":"c549ebfd.57bac8","name":"","topic":"gyarb\\end","qos":"2","retain":"true","broker":"91b66cb.fa69a9","x":1000,"y":260,"wires":[]},{"id":"9ae1ee61.f6b11","type":"mqtt out","z":"c549ebfd.57bac8","name":"","topic":"gyarb\\start","qos":"2","retain":"true","broker":"91b66cb.fa69a9","x":1010,"y":360,"wires":[]},{"id":"8df4814.6a2c98","type":"google calendar in","z":"c549ebfd.57bac8","google":"2dc3c429.42053c","name":"Auto Cal In","calendar":"hthehugger@gmail.com","offsetType":"before","offsetFrom":"start","offset":"10","offsetUnits":"minutes","x":380,"y":180,"wires":[["14a4f8d8.7a8937","7a4d85b9.0ae8ec","615bf181.e457"]]},{"id":"8330e5fe.f4fd38","type":"function","z":"c549ebfd.57bac8","name":"","func":"// Create a Date object from the payload\nvar date = new Date(msg.payload);\n//Change the date to a string\nvar longdate = date.toString();\n//Shorten the date to readable lenght\nvar shortdate = longdate.substring(0, 24);\n// Change the payload to be a the shortend date\nmsg.payload = shortdate;\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":360,"wires":[["dbb4fd8e.9310a","9ae1ee61.f6b11"]]},{"id":"37cc731b.397dbc","type":"function","z":"c549ebfd.57bac8","name":"","func":"// Create a Date object from the payload\nvar date = new Date(msg.payload);\n//Change the date to a string\nvar longdate = date.toString();\n//Shorten the date to readable lenght\nvar shortdate = longdate.substring(0, 24);\n// Change the payload to be a the shortend date\nmsg.payload = shortdate;\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":260,"wires":[["66ce14bf.dd70dc","5a86a5d6.aed99c"]]},{"id":"ca8a6f6c.957fa","type":"inject","z":"c31547b5.a71f78","name":"Manual City In","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"msg","x":150,"y":320,"wires":[["525456a6.0bb868"]]},{"id":"e9874bca.302018","type":"mqtt in","z":"c31547b5.a71f78","name":"","topic":"gyarb\\weatherbutton","qos":"2","datatype":"auto","broker":"91b66cb.fa69a9","x":170,"y":240,"wires":[["e3555a5f.59e748"]]},{"id":"f3a89530.848f98","type":"debug","z":"c31547b5.a71f78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1290,"y":260,"wires":[]},{"id":"964cb78a.803788","type":"change","z":"c31547b5.a71f78","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.end","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":320,"wires":[["81187e25.190b3"]]},{"id":"c80e0a11.8d1038","type":"mqtt out","z":"c31547b5.a71f78","name":"","topic":"gyarb\\weather","qos":"2","retain":"true","broker":"91b66cb.fa69a9","x":1300,"y":320,"wires":[]},{"id":"81187e25.190b3","type":"function","z":"c31547b5.a71f78","name":"combine temperature and weather","func":"// Create a Date object from the payload\nvar date = new Date(msg.payload);\n//Change the date to a string\nvar longdate = date.toString();\n//Shorten the date to readable lenght\nvar shortdate = longdate.substring(0, 24);\n// Change the payload to be a the shortend date\nmsg.payload = shortdate;\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":320,"wires":[["f3a89530.848f98","c80e0a11.8d1038"]]},{"id":"525456a6.0bb868","type":"openweathermap","z":"c31547b5.a71f78","name":"manual weather in","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":550,"y":320,"wires":[["964cb78a.803788","dd98b35e.ed9d7"]]},{"id":"e215dbc2.578aa8","type":"openweathermap in","z":"c31547b5.a71f78","name":"auto weather in","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":550,"y":220,"wires":[["964cb78a.803788","dd98b35e.ed9d7"]]},{"id":"dd98b35e.ed9d7","type":"change","z":"c31547b5.a71f78","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":360,"wires":[["81187e25.190b3"]]},{"id":"e3555a5f.59e748","type":"function","z":"c31547b5.a71f78","name":"output city","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":240,"wires":[["525456a6.0bb868"]]}]