flows.json
[{"id":"c549ebfd.57bac8","type":"tab","label":"Testing Google Calendar flow","disabled":false,"info":""},{"id":"bbb1fe06.90d9c","type":"google calendar","z":"c549ebfd.57bac8","google":"","name":"","calendar":"hthehugger@gmail.com","ongoing":true,"x":370,"y":260,"wires":[["14a4f8d8.7a8937","7a4d85b9.0ae8ec","615bf181.e457"]]},{"id":"c731116d.f4cbf","type":"inject","z":"c549ebfd.57bac8","name":"Manual Cal In","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"msg","x":170,"y":300,"wires":[["bbb1fe06.90d9c"]]},{"id":"d3cc66eb.ba47e8","type":"mqtt out","z":"c549ebfd.57bac8","name":"","topic":"gyarb\\title","qos":"2","retain":"true","broker":"91b66cb.fa69a9","x":840,"y":140,"wires":[]},{"id":"a8b11777.d5b0c8","type":"mqtt in","z":"c549ebfd.57bac8","name":"","topic":"gyarb\\startbutton","qos":"2","datatype":"auto","broker":"91b66cb.fa69a9","x":160,"y":220,"wires":[["bbb1fe06.90d9c"]]},{"id":"ca287e91.0fcf5","type":"debug","z":"c549ebfd.57bac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":100,"wires":[]},{"id":"14a4f8d8.7a8937","type":"change","z":"c549ebfd.57bac8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.title","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":140,"wires":[["ca287e91.0fcf5","d3cc66eb.ba47e8"]]},{"id":"66ce14bf.dd70dc","type":"debug","z":"c549ebfd.57bac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":220,"wires":[]},{"id":"7a4d85b9.0ae8ec","type":"change","z":"c549ebfd.57bac8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.end","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":260,"wires":[["37cc731b.397dbc"]]},{"id":"dbb4fd8e.9310a","type":"debug","z":"c549ebfd.57bac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":320,"wires":[]},{"id":"615bf181.e457","type":"change","z":"c549ebfd.57bac8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.start","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":360,"wires":[["8330e5fe.f4fd38"]]},{"id":"5a86a5d6.aed99c","type":"mqtt out","z":"c549ebfd.57bac8","name":"","topic":"gyarb\\end","qos":"2","retain":"true","broker":"91b66cb.fa69a9","x":1000,"y":260,"wires":[]},{"id":"9ae1ee61.f6b11","type":"mqtt out","z":"c549ebfd.57bac8","name":"","topic":"gyarb\\start","qos":"2","retain":"true","broker":"91b66cb.fa69a9","x":1010,"y":360,"wires":[]},{"id":"8df4814.6a2c98","type":"google calendar in","z":"c549ebfd.57bac8","google":"","name":"Auto Cal In","calendar":"hthehugger@gmail.com","offsetType":"before","offsetFrom":"start","offset":"10","offsetUnits":"minutes","x":380,"y":180,"wires":[["14a4f8d8.7a8937","7a4d85b9.0ae8ec","615bf181.e457"]]},{"id":"8330e5fe.f4fd38","type":"function","z":"c549ebfd.57bac8","name":"","func":"// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":360,"wires":[["dbb4fd8e.9310a","9ae1ee61.f6b11"]]},{"id":"37cc731b.397dbc","type":"function","z":"c549ebfd.57bac8","name":"","func":"// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":260,"wires":[["66ce14bf.dd70dc","5a86a5d6.aed99c"]]},{"id":"91b66cb.fa69a9","type":"mqtt-broker","name":"albinomqtt","broker":"localhost","port":"1883","clientid":"2","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]